.home-header {
  //background-color: #434954;
  padding: 16px;
  width: 100%;
  min-height: 150px;
  text-align: center;
}

.home-header img {
  //max-width: 200px;
  min-height: 115px;
  margin-left: -15px;
  padding: 25px 0 20px 0;
}

.home-info p {
  color: #697072;
  text-align: left;
}

.home-info ion-icon {
  //background: -webkit-gradient(radial, center center, 0, center center, 460, from(#1a82f7), to(#2F2727));
  color: color($colors, primary);
  width: 20px;
}

.md,
.wp {
  .about-info [text-right] {
    margin-right: 0;
  }
}

// .ios .about-info {
//   text-align: center;
// }

// .ios .about-info ion-icon {
//   width: auto;
//   margin-right: 10px;
// }

#radial-center {
  /* fallback */
  background-color: #2F2727;
  background-image: url(images/radial_bg.png);
  background-position: center center;
  background-repeat: no-repeat;

  /* Safari 4-5, Chrome 1-9 */
  /* Can't specify a percentage size? Laaaaaame. */
  background: -webkit-gradient(radial, center center, 0, center center, 460, from(#1a82f7), to(#2F2727));

  /* Safari 5.1+, Chrome 10+ */
  background: -webkit-radial-gradient(circle, #1a82f7, #2F2727);

  /* Firefox 3.6+ */
  background: -moz-radial-gradient(circle, #1a82f7, #2F2727);

  /* IE 10 */
  background: -ms-radial-gradient(circle, #1a82f7, #2F2727);

  /* Opera couldn't do radial gradients, then at some point they started supporting the -webkit- syntax, how it kinda does but it's kinda broken (doesn't do sizing) */
}

// html, body {
//   margin: 0;
//   padding: 0;
//   width: 100%;
//   height: 100%;
//   overflow: hidden;
//   background: #111;
// }



